/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 480px */
@media screen and (max-width: 480px)
{
  
body
{
    width: auto;
}
h2
{
    font-size: 1.5em;
}
h4, h3
{
    font-size: 1.2em;
}
h5
{
    font-size: 1.1em;
}

p
{
font-size: 1.1em;
}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 30px 30px 20px;   
}


#a-propos
{
    margin: 0;
}
#nos-hebergements
{
    margin: 0;
}
#assistance
{
    margin: 0;
}
/*BLOC ACTIVITES*/
#activites
{
    padding: 20px;
    width: 90%;
}
#bloc-largeur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
#bloc-largeur img
{
    width: 100%;
    height: 135px;
    object-position: center;
}
#bloc-largeur a
{
    height: 190px;
    margin-bottom: 25px;
}

.acti-large
{
    height: 190px;
   
}
.acti-large h4, .acti-small h4
{
    margin: 15px;
}
.acti-small
{
    height: 190px;
    
}
/*BLOC HEBERGEMENT LARGEUR*/
#hebergement-largeur
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
    height: auto;
}

/*BLOC POPULAIRE*/
#hebergement-largeur
{
    width: 100%;
    
}
#lespluspopulaires
{
    max-width: 100%;
    
    padding: 20px 20px 60px 20px;
    margin: 0;
    border-radius: 0;
}
#titre-populaire
{
    margin-bottom: 20px;
}
.carte-pop
{
    width: 100%;
    height: 145px;
    margin-bottom: 10px;
}
.carte-pop img
{
    height: 92%;
    width: 100%;
    padding: 5px;
    margin-right: 15px;
}
.carte-pop a
{
    width: 100%;
    height: auto;
}

.texte-pop
{
    max-width: 60%;
    padding: 0;
    margin: 0 0 0 10px;
}
.etoile-bleue
{
    font-size: 0.9em;
}
.etoile-grise
{
    font-size: 0.9em;
}

/*BLOC HEBERGEMENT MARSEILLE*/
#hebergement-marseille
{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    width: 90%;
    padding: 20px 20px 60px 20px;
}
.carte
{
    max-width: 100%;
    height: 200px;
    padding: 5px;
}
.carte a
{
    max-width: 100%;
}


/*BLOC FILTRES*/
#recherche
{
    width: auto;
}

/*BLOC HEADER*/
header
{
    display: flex;
    flex-direction: row;
}

nav
{
    width: auto;
}
nav ul
{
    flex-wrap: wrap;
}

}