/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 480px */
@media screen and (max-width: 480px)
{
  
body
{
    width: auto;
}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
#a-propos
{
    margin-left: 20px;
}
#nos-hebergements
{
    margin-left: 20px;
}
#assistance
{
    margin-left: 20px;
}
/*BLOC ACTIVITES*/

#bloc-largeur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
#bloc-largeur img
{
    width: 300px;
    height: 110px;
    object-position: center;
}
.acti-large h4
{
    margin: 20px;
}

/*BLOC HEBERGEMENT LARGEUR*/
#hebergement-largeur
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: auto;
    height: auto;
}

.photo img
{
    max-width: 90%;
}
.carte
{
    max-width: 95%;
}

/*BLOC POPULAIRE*/
#lespluspopulaires
{
    width: auto;
    height: auto;
    padding: 10px;
}
.carte-pop
{
    width: 100%;
}

/*BLOC HEBERGEMENT MARSEILLE*/
#hebergement-marseille
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: white;
    width: 100%;
    padding: 5px;
}
.carte
{
    max-width: 90%;
}

/*BLOC FILTRES*/
#recherche
{
    width: auto;
}

/*BLOC HEADER*/
header
{
    display: flex;
    flex-direction: row;
}

nav
{
    width: auto;
}
nav ul
{
    flex-wrap: wrap;
}

}