/* police*/
@font-face 
{
    font-family: 'Raleway';
    src: url('police/Raleway-Regular.ttf') format('ttf');
    src: url('police/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

/*marges de la page*/
body
{
    max-width: 1024px;
    margin: auto;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    
}

/* HEADER*/
header
{
    display: flex;
    justify-content: space-between;
}
nav ul
{
    display: flex;
    align-items: flex-end;
    vertical-align: middle;
}
nav li
{
    margin-left: 80px;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.2em;
}
nav li a
{
    color: #0065FC;
}
    
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    vertical-align: top;
}
#logo img
{
    width: 150px;
    height: 70px;
}

/*localisation et filtres*/
#recherche-filtre
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 200px;
}

#recherche
{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.localisation
{
    border: solid 1px;
    border-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.recherche-marseille
{
    font-family: 'Raleway';
    font-weight: bold;
    border: solid 1px;
    border-color: #F2F2F2;
    width: 250px;
}

::placeholder
{
    color: black;
    font-size: 1.2em;
    padding-left: 20px;
}
.bouton
{
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway';
    font-size: 1.5em;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 150px;
}
#filtres
{
    display: flex;
    flex-direction: row;
    height: 50px;
}
#filtres a
{
    margin-right: 30px;
    border: solid 2px #F2F2F2;
    border-radius: 30px;
    color: black;
    width: auto;
    font-weight: bold;
    font-size: 1.2em;    
}
#filtres img
{
    vertical-align: middle;
    margin-right: 10px;
}

#filtres p
{
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}


#infos
{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-bottom: 10px;
}

#infos p
{
    margin-left: 10px;
}

/* HEBERGEMENT LARGEUR*/
#hebergement-largeur
{
    display: flex;
    flex-direction: row;   
}

/* HEBERGEMENT MARSEILLE*/
#titre-hebergement
{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#hebergement-marseille
{
    display: flex;
    flex-direction: column;
    max-width: 65%;
    max-height: 600px;
    background-color:#F2F2F2;
    margin-right: 40px;
    border-radius: 10px;
}

#hebx6
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-around;
    margin: auto;
    margin-top: 5px;
}

.image
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px 3px #e7e5e5;
    max-height: 250px;
    margin-bottom: 30px;
}

.image h4,h5
{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.photo img
{
    width: 100%;
    max-width: 200px;
    height: 100px;
    border-radius: 10px; 
    margin: 5px;
}
.etoile img
{
    height: 18px;
    width: 70px;
    margin-left: 10px;
}
#afficher
{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* BLOC POPULAIRE*/

#lespluspopulaires
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#F2F2F2;
    border-radius: 10px;
}
#titre-populaire
{
    
    
    margin-top: 30px;
    margin-bottom: 10px;
}
#popx3
{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    
}

.image-pop
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    flex-wrap: wrap;
    width: 250px;
    box-shadow: 1px 1px 1px 3px #e7e5e5;
    max-height: 300px;   
    margin-bottom: 30px;
}
.image-pop h4,h5
{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.photo-pop img
{
    width: 100px;
    height: 120px;
    border-radius: 10px 0 0 10px;
    margin: 5px;
}
h1
{
    font-size: 1.8em;
}
h2
{
    font-size: 1.2em;
}
h3{
    font-size: 1em;
}
h4
{
    font-size: 0.9em;
}

/* ACTIVITES LARGEUR*/
#activités
{
    display: flex;
    flex-direction: row;   
}
#acti-small
{
    display: flex;
    flex-direction: column;
}
#acti-large
{
    display: flex;
    flex-direction: row;
}
#acti-small img
{
    width: 150px;
    height: 90px;
    border-radius: 10px 10px 0 0;
}
#acti-large img
{
    width: 150px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}
a
{
    text-decoration: none;
}





/* FOOTER*/
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#F2F2F2;
}